<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- sample03 -->
	<!-- getInstance란 말이 없어도 spring은 싱글톤이 기본! -->
	<!-- scope: prototype, request, session, singleton ,,,,, prototype은 싱글톤이 아닌 각각 만들어주는 것. -->
	<bean id="messageBean" class="sample03.MessageBeanKo" scope="prototype"></bean> 
	
	<!-- sample04 -->
	<bean id="calc" class="sample04.CalcAdd"></bean>
	
</beans>
