<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- sample01 -->
	<bean id="messageBeanImpl" class="sample01.MessageBeanImpl">
		<constructor-arg>
			<value>사과</value>
		</constructor-arg>
		<property name="cost"> <!-- setter를 말하는 것이다. -->
			<value>5000</value>
		</property> 
		<property name="qty" value="3" />
	</bean>
	
	<!-- sample02 -->
	<bean id="calcAdd" class="sample02.CalcAdd">
		<constructor-arg>
			<value>25</value>
		</constructor-arg>
		<constructor-arg value="36" />
	</bean>
	
	<bean id="calcMul" class="sample02.CalcMul">
		<property name="x">
			<value>25</value>
		</property>
		<property name="y" value="36" />
	</bean>
	
	<!-- sample03 -->
	<bean id="sungJukImpl" class="sample03.SungJukImpl">
		<constructor-arg ref="sungJukDTO"/>
	</bean>
	
	<bean id="sungJukDTO" class="sample03.SungJukDTO">
		<property name="name" value="홍길동" />
		<property name="kor" value="97" />
		<property name="eng" value="100" />
		<property name="math" value="95" />
	</bean>
	
	<!-- sample 04 -->
	<bean id="arrayList" class="java.util.ArrayList"></bean>
	<!-- Main -->
	<bean id="helloSpring" class="sample04.HelloSpring"></bean>
	
	
	<bean id="sungJukInput" class="sample04.SungJukInput" scope="prototype"> <!-- 성적dto를 담는 input도 scope를 prototype으로 바꿔야한다. -->
		<property name="sungJukDTO2" ref="sungJukDTO2"></property> <!-- setSungJukDTO2 메소드 명 -->
		<property name="list" ref="arrayList"></property> 
	</bean>
	
	<bean id="sungJukOutput" class="sample04.SungJukOutput">
		<property name="list" ref="arrayList"></property>
	</bean>
	
	<bean id="sungJukDTO2" class="sample04.SungJukDTO2" scope="prototype"></bean> <!-- prototype: 항상 새로운 인스턴스 생성  -->
	
	<bean id="sungJukUpdate" class="sample04.SungJukUpdate" scope="prototype"> <!-- 성적dto를 담는 input도 scope를 prototype으로 바꿔야한다. -->
		<property name="list" ref="arrayList"></property> 
	</bean>
	
	<!-- <bean id="iterator" class="java.util.Iterator"></bean> -->
	
	<bean id="sungJukDelete" class="sample04.SungJukDelete" scope="prototype"> <!-- 성적dto를 담는 input도 scope를 prototype으로 바꿔야한다. -->
		<property name="list" ref="arrayList"></property>  <!-- 얘가 setList()함수를 말함. -->
	</bean>
	
	<!-- sample 05 -->
	<bean id="messageBeanImpl2" class="sample05.MessageBeanImpl">
		<constructor-arg value="홍길동" />
		<property name="phone" value="010-1234-5678"></property>
		<property name="outputter" ref="fileOutputter"></property>
	</bean>
	
	<bean id="fileOutputter" class="sample05.FileOutputter">
		<property name="filePath" value="/Applications/study/" />
		<property name="fileName" value="result.txt" />
	</bean>
	
</beans>
